body{
	font-family : "Courier New", Courier, "Andale Mono", Monospace;
	background-color : #FFFFFF; 
	color : #000000; 
	font-size : 
	10pt;
}

.clear {
  clear: left;
}

.container {
  //width: 1200px;
  //height: 800px;
  border: 1px solid;  
}

.leftpanel {
  float:left;
  width: 230px;
  //height: 800px;
  //border: 1px solid;  
}

@font-face{
  font-family: "Elgethy Bold";
  src : url("Elgethy Bold.ttf");
  //font-family: "Elgethy Square";
  //src : url("Elgethy Square.ttf");

}

#content {
  opacity:0;
  width: 800px;
  margin-top:100px;
  margin-left:50px;
  height: 0px;
  float:left;
  font-family: "Elgethy Bold";
  font-size: 20px;
  color: #fffafa;

}

#contentExpanded {
  background-color: #C6D880;
  border: 3px dashed #000;
  font-size: 20px;
  height: 500px;
  padding: 20px;
  width: 500px;
  float:left;
}

pre{
  font-family: "Elgethy Bold";
  font-size: 20px;
  color: #fffafa;

}

.header {
	//width: 1200px; 
	height: 120px; 
	//border: 1px solid;
	position: relative;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-bottom: 0.5pt dashed #666666;
  	padding: 7px 0px;
  	color: #fff;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

//.footer {
//	//width: 1200px; 
//	float:left;
//	height: 65px; 
//	//border: 1px solid;
//	border-top: 0.5pt dashed #666666;
//	//position: absolute;
//	bottom: 0;
//	margin: auto;
//	//left:40%;
//}
.footer {
	//width: 1200px; 
	height: 80px; 
	//border: 1px solid;
	position: absolute;
	//top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	//float:left;
	border-top: 0.5pt dashed #666666;
  	padding: 7px 0px;
  	color: #fff;
}



#left1 {
  //float: left;
  width: 150px;
  height: 25px;
  //border: 1px solid;
  text-align: center;
  margin-top: 100px;
  //margin-right: 5px;
  margin-bottom: 5px;
  //margin-left: 5px;
  background: url(images/about.png);
}

#left2 {
  //float: left;
  width: 150px;
  height: 25px;
  //padding: 10px;
  //border: 1px solid;
  text-align: center;
  margin-top: 5px;
  //margin-right: 5px;
  margin-bottom: 5px;
  //margin-left: 5px;
  background: url(images/pipelines.png);
}

#left3 {
  //float: left;
  width: 150px;
  height: 25px;
  //padding: 10px;
  //border: 1px solid;
  text-align: center;
  margin-top: 5px;
  //margin-right: 5px;
  margin-bottom: 5px;
  //margin-left: 5px;
  background: url(images/papers.png);
}

#left4 {
  //float: left;
  width: 150px;
  height: 25px;
  //padding: 10px;
  //border: 1px solid;
  text-align: center;
  margin-top: 5px;
  //margin-right: 5px;
  margin-bottom: 5px;
  //margin-left: 5px;
  background: url(images/blog.png);
}

#left5 {
  //float: left;
  width: 150px;
  height: 25px;
  //padding: 10px;
  //border: 1px solid;
  text-align: center;
  margin-top: 5px;
  //margin-right: 5px;
  margin-bottom: 5px;
  //margin-left: 5px;
  background: url(images/coolthings.png);
}

.center1 {
  //float: center;
  width: 300px;
  height: 50px;
  //padding: 10px;
  //border: 1px solid;
  //position: center;
  margin-top: 5px;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  background: url(images/copyright.png);
}




  .colLeft{
  	margin: 10px 0px 0px 0px;
  	width: 350px;
  	overflow: hidden;
  	font-family: Gill Sans / Gill Sans MT, sans-serif;	
  	float: left;
  }
  
  .colRight{
  	float: left;
    margin: 10px 0px 0px 0px;
  	width: 350px;
  	position: relative;
  }
  
  
 
	
  body{
  	background: #111;
  }
  

	
	 h3{
	 	display: block;	
	 	color: #fff;
	 	font-weight: normal;
	 	font-size: 14px;
	 	padding: 10px 20px;
	 	-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		margin-top: 30px;
		margin-bottom: 7px;
		width: 200px;
		cursor: pointer;
		text-align: center;
		margin-left: 100px;
	 }
	 
	 #h31{
	 		-webkit-border-radius: 30px 30px 8px 8px;
	 		-moz-border-radius: 30px 30px 8px 8px;
	 	 	background: #8bbc46;
	 	 	box-shadow: 5px 5px 0 #3A4925;
	 	 	-moz-box-shadow:  5px 5px 0 #3A4925;
	 	 	-webkit-box-shadow: 5px 5px 0 #3A4925;
	 }
	 
 
	 
	  #h32{
	  		-webkit-border-radius: 20px 20px;
	  		-moz-border-radius: 20px 20px;
	 	 	background: #4780a4;
	 	 	box-shadow: 5px 5px 0 #1e3541;
	 	 	-moz-box-shadow:  5px 5px 0 #1e3541;
	 	 	-webkit-box-shadow: 5px 5px 0 #1e3541;
	 }
	 
	 
	  #h33{
	  		-webkit-border-radius: 30px 30px 8px 8px;
			-moz-border-radius: 30px 30px 8px 8px;
	 	 	background: #8bbc46;
	 	 	box-shadow: 5px 5px 0 #3A4925;
	 	 	-moz-box-shadow:  5px 5px 0 #3A4925;
	 	 	-webkit-box-shadow: 5px 5px 0 #3A4925;
	 	 	height: 30px;
	 	 	width: 30px;
	 	 	cursor: pointer;
	 		padding: 10px 20px;
	 		margin-top: 30px;
	 		float: right;
	 		margin-right: 50px;
	 		display: inline-block;
	 }
	 
	 
	 #h34{
	 		cursor: pointer;
	 		height: 50px;
	 	 	background: #e36b00;
	 	 	width: 50px;
	 	 	-webkit-border-radius: 25px;
	 	 	-moz-border-radius: 25px;
	 	 	padding: 0px;
	 	 	display: inline-block;
	 	    position: absolute;
	 	    left: 100px;
	 	    top: 30px;
	 }
	 
	 #h35{
	 	width: 245px;
	 	height: 50px;
	 	margin-top: 30px;
	 	margin-left: 100px;
	 	cursor: pointer;
	 }
	 
 
	 
	 #h35 span{
	 	display: block;
	 	background: #e1007a;
	 	-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
	 	height: 40px;
	 	padding: 0px;
	 	width: 245px;
	 	box-shadow: 5px 5px 0 #430d2a;
	 	-moz-box-shadow:  5px 5px 0 #430d2a;
	    -webkit-box-shadow: 5px 5px 0 #430d2a;
	 }
	 
	 	 
	 #h36{
	   -webkit-border-radius: 25px 25px 100px 100px;
 		-moz-border-radius: 25px 25px 100px 100px;
		background-color:#fff;
		cursor:pointer;
		display:inline-block;
		height:120px;
		left:100px;
		padding:0;
		position:absolute;
		top:110px;
		width:204px;
		overflow: hidden;
		background-image: url("teath.png");
		background-repeat: no-repeat;
		background-position: 50px 0px; 
	 }
	 
	 
	 ul{
	 	color: #fff;
	 	font-size: 13px;
	 	list-style-type: none;
	 }
	 
	 ul li{
		display: block;
	 	border-bottom: 1px dotted #fff;
	 	padding: 7px 0px;
	 }
	 
	 #worksWith{
	 	position: fixed;
	 	bottom: 40px;
	 	right: 50px;
	 	background-image: url("worksWith.png");
	 	width: 399px;
	 	height: 75px;
	 }